<h2>Lista de Categorias: </h2>
<hr>
<a href="/admin/categorias/add">
  <button class="btn btn-success">
    Nova Categoria
  </button>
</a>

<h3 class="mt-2">Categorias Criadas</h3>

{{#each categorias}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>{{nome}}</h4>
      <small>Slug {{slug}}</small>
      
      <div class="links">
        <a href="/admin/categorias/editar/{{_id}}">
          <button class="btn btn-warning">
            Editar Categoria
          </button>
        </a>
        
        <form method="post" action="/admin/delete/{{_id}}">
          <button type="submit" class="btn btn-danger">Excluir Categoria</button>
        </form>
      </div>
      
    </div>
  </div>
{{else}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>Sem Categorias </h4>
    </div>
  </div>
{{/each}}