<h2>Lista de Postagens: </h2>
<hr>
<a href="/admin/postagens/add">
  <button class="btn btn-success">
    Nova Postagem
  </button>
</a>

<h3 class="mt-2">Postagens Criadas</h3>
{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>
        <a href="postagens/{{categoria.slug}}/{{slug}}">
          {{titulo}}
        </a>
      </h4>
      
      <p>
        Descrição: {{descricao}}
      </p>
      
      <small>
        Data: {{data}}
      </small><br>
      
      
      <small>
        <label for="categoria">Categoria </label>
        {{categoria.nome}}
      </small>
      
      <div class="links">
        <a href="/admin/postagens/editar/{{_id}}/{{slug}}">
          <button class="btn btn-warning">
            Editar Postagens
          </button>
        </a>
        <a href="/admin/postagens/delete/{{_id}}/{{slug}}">
          <button class="btn btn-danger">
            Excluir Postagens
          </button>
        </a>
      </div>
      
    </div>
  </div>
{{else}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>Sem Postagens </h4>
    </div>
  </div>
{{/each}}